@font-face {
  font-family: 'FuturaStdLight';
  src: url('/fonts/futura-light-bt.ttf');
  font-style: normal;
  font-weight: 400;
  /* font-display: swap; */
  font-display: optional; /* Define how the browser behaves during download */
}

@font-face {
  font-family: 'FuturaStdMedium';
  src: url('/fonts/futura-medium-bt.ttf');
  font-style: medium;
  font-weight: 500;
  /* font-display: swap; */
  font-display: optional; /* Define how the browser behaves during download */
}
