body {
  font-size: 16px;
}

.slide,
.carousel {
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.slide.active,
.carousel.active {
  visibility: visible;
  opacity: 1;
  height: auto;
  width: auto;
}

.carousel img {
  max-height: 80vh;
  height: 80vh;
  width: auto;
}

.slider .graphcms-image-outer-wrapper {
  height: 100vh;
}

label {
  padding: 0 0.4rem;
  display: block;
  width: 100%;
  text-align: left;
}

input,
textarea {
  border: 1px solid black;
  box-sizing: border-box;
  font-family: 'helvetica', 'arial', sans-serif;
  font-size: 1.2rem;
  padding: 0.6rem;
  margin-bottom: 1.6rem;
  width: 100%;
}

input[type='submit'] {
  border-color: #ccc;
  background-color: #efefef;
  border-radius: 6px;
  color: #212121;
  padding: 0.8rem 3.6rem;
  width: auto;
}

input[type='submit']:hover {
  border-color: #212121;
  background-color: #212121;
  color: white;
  cursor: pointer;
}
