@tailwind base;

@layer base {
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }

  body {
    @apply font-futura font-normal text-13px;
  }

  h1 {
    @apply font-medium text-18px mb-4;
  }

  h2 {
    @apply font-medium text-h2 mt-8 mb-4;
  }

  h3 {
    @apply font-medium text-h3 mt-8 mb-4;
  }

  p {
    @apply mb-4;
  }

  a {
    @apply font-medium hover:underline;
  }

  input,
  textarea,
  .btn {
    border: 1px solid black;
    box-sizing: border-box;
    font-family: 'helvetica', 'arial', sans-serif;
    font-size: 1.2rem;
    padding: 0.6rem;
    /* margin-bottom: 1.6rem; */
    width: 100%;
  }

  .btn,
  input[type='submit'] {
    @apply inline-block;
    border-color: #ccc;
    background-color: #efefef;
    border-radius: 6px;
    color: #212121;
    padding: 0.8rem 3.6rem;
    width: auto;
    transition: background-color 0.3s, color 0.3s;
  }

  .btn:hover,
  input[type='submit']:hover {
    @apply no-underline;
    border-color: #212121;
    background-color: #212121;
    color: white;
    cursor: pointer;
  }

  label {
    /* @apply mt-4; */
    padding: 0 0.4rem;
    display: block;
    width: 100%;
    text-align: left;
  }

  input:disabled {
    @apply bg-gray-100 border-gray-100;
  }

  input[aria-invalid='true'] {
    @apply text-red-700 border-red-500 bg-red-50;
  }
}

/* @tailwind components; */
@tailwind utilities;

.form {
  @apply grid grid-cols-1 gap-8;
}

.error {
  @apply text-red-600;
}
